.grupo-td > tbody > tr > td {
	padding-top: 6px;
	padding-bottom: 6px;
}

.grupo-td-indicador {
	padding-left: 17px !important;
}

.grupo-titulo-indicador {
	background-color: #f9f9f9;
}

.grupo-text-align-center {
	text-align: center;
}

.grupo-vertical-align-middle {
	vertical-align: middle !important;
}

.grupo-vertical-align-middle > div > input {
	margin-top: 16px !important;
}