<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<title>Fichas Agroecológicas</title>
</head>

<template name="main">
	{{> header}}
</template>

<template name="header">
	<div id="wrap">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{pathFor 'home'}}">
						<i id="logo-img"></i> Fichas Agroecológicas
					</a>
				</div>

				<div id="navbar" class="collapse navbar-collapse">
					{{> mainMenu}}
				</div>
			</div>
		</nav>
		<div class="container">
			{{> yield}}
		</div>
	</div>
</template>

<template name="mainMenu">
	<ul class="menu-items nav navbar-nav navbar-right">
		{{#if currentUser}}
			<li><a href="{{pathFor 'listOrganizaciones'}}"><i class="glyphicon glyphicon-list-alt"></i> Organizaciones</a></li>
			<li><a href="{{pathFor 'insertOrganizacion'}}"><i class="glyphicon glyphicon-file"></i> Nueva Organización</a></li>
			<li><a href="{{pathFor 'listAcompanamientos'}}"><i class="glyphicon glyphicon-list-alt"></i> Acompañamientos</a></li>
			<li><a href="{{pathFor 'insertAcompanamiento'}}"><i class="glyphicon glyphicon-file"></i> Nuevo Acompañamiento</a></li>
		{{/if}}
		<li>{{> loginButtons}}</li>
	</ul>
</template>

