@import url('http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css');

body {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	color: #676a6c;
	padding-top: 65px;
}

h1, h2, h3, h4, h5, h6 {
	color: #606060;
	font-weight: 400;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 4.2rem;
	line-height: 4.62rem;
	margin: 2.1rem 0 1.68rem 0;
}

h2 {
	font-size: 3.56rem;
	line-height: 3.916rem;
	margin: 1.78rem 0 1.424rem 0;
}

h3 {
	font-size: 2.92rem;
	line-height: 3.212rem;
	margin: 1.46rem 0 2.168rem 0;
}

h4 {
	font-size: 2.2rem;
	line-height: 2.508rem;
	margin: 1.14rem 0 1.912rem 0;
}

h5 {
	font-size: 1.64rem;
	line-height: 1.804rem;
	margin: 0.82rem 0 0.656rem 0;
}

h6 {
	font-size: 1rem;
	line-height: 1.1rem;
	margin: 0.5rem 0 0.4rem 0;
}

em {
	font-style: italic;
}

strong {
	font-weight: 500;
}

small {
	font-size: 75%;
}

#logo-img {
	background: url("images/fae_logo.png") no-repeat;
	background-size: 55px;
	height: 55px;
	width: 55px;
	float: left;
	margin: -9px 7px 0 0;
}

.btn:focus {
	outline: none !important;
}

.btn, .btn-large {
	text-decoration: none;
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	transition: .2s ease-out;
	cursor: pointer;
}

.btn, .btn-large, .btn-flat {
	border-radius: 4px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	outline: 0;
	padding: 0 2rem;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}

.btn:hover, .btn-large:hover, .btn-floating:hover {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-primary {
	background-color: #26a69a !important;
	border-color: #26a69a !important;
}

.btn-primary:hover, .btn-primary.focus, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
	background-color: #2bbbad !important;
	border-color: #2bbbad !important;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active {
	color: #676A6C;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 2px !important;
}

.navbar-inverse {
	background-color: #474D57 !important;
	border-color: #2F4050 !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #474D57 !important;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
	color: #b3b8bf;
}

.nav > li.active > a {
	color: #FFF;
	background-color: transparent !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:active {
	color: #FFF !important;
}

.menu-items > li > a, #login-dropdown-list > a {
	font-weight: 600;
}

.dropdown-menu > li > a {
	color: #676a6c !important;
}

#login-dropdown-list > .dropdown-toggle {
	color: #b3b8bf !important;
	background-color: transparent !important;
	padding: 15px 15px 15px 10px;
	display: block;
	position: relative;
	line-height: 20px;
}

#login-dropdown-list > .dropdown-toggle:hover, .dropdown-toggle:focus {
	color: #fff !important;
	background-color: transparent;
	text-decoration: none;
}

#login-other-options a:focus, #login-other-options a:hover {
	text-decoration: none !important;
}

.modal-body {
	padding: 5px 30px 10px;
}

.modal-header {
	padding: 0 15px 7px;
}

.modal-footer {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff;
	-moz-box-shadow: inset 0 1px 0 #ffffff;
	box-shadow: inset 0 1px 0 #ffffff;
}

.modal-open {
	padding-right: 0 !important;
}

.form-control {
	font-size: 13px !important;
}

.form-group > select {
	padding-left: 8px !important;
}

.input-group .form-control:last-child {
	height: 36px;
}

.reactive-table-options {
	margin-right: -16px !important;
}

.reactive-table .sortable, .reactive-table-add-column {
	color: #676a6c;
}

.checkbox-reactive-table > td {
	padding-bottom: 0 !important;
}

.top-buffer {
	margin-top: 10px;
}

.right-buffer {
	margin-right: 5px;
}

#toast-container > div {
	opacity: 0.9 !important;
}

.no-data {
	text-align: center;
	margin-top: 50px;
}

.no-data > h5 {
	font-style: italic;
	margin-bottom: 15px;
}

.footer {
	margin-bottom: 150px;
}

.fi-size-18 {
	font-size: 18px;
}

.fa-size-17 {
	font-size: 17px;
}

.ficha-spider {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

@media print {
	body {
		padding-top: 0;
	}
	.print {
		display: none;
	}
	@page {
		size: landscape
	}
}