<template name="_fichaAcompanamientoIndicadores">
	{{#if $eq campo 'entoForestalesNativos'}}
		<div class="acom-indicador">INDICADORES PARA EL ENTORNO</div>
	{{/if}}
	{{#if $eq campo 'sueloErosionActual'}}
		<div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA DEL SUELO</div>
	{{/if}}
	{{#if $eq campo 'aguaCantidad'}}
		<div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA DE AGUA Y HUMEDAD</div>
	{{/if}}
	{{#if $eq campo 'cultRotacion'}}
		<div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA DE CULTIVOS</div>
	{{/if}}
	{{#if $eq campo 'forestFertilidadSuelo'}}
		<div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA FORESTAL</div>
	{{/if}}
	{{#if $eq campo 'animalDiversidad'}}
		<div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA ANIMAL</div>
	{{/if}}
	{{#if $eq campo 'instalCondicion'}}
		<div class="acom-indicador">INDICADORES PARA INSTALACIONES, ANGARES Y BODEGAS</div>
	{{/if}}
</template>