<template name="detailAcompanamiento">
	<h4>Detalles de Ficha de Diagnóstico de Acompañamiento</h4>

	<button class="btn btn-primary print bottom-buffer" title="Imprimir ficha"><icon class="glyphicon glyphicon-print"></icon></button>

	<table class="table table-striped top-buffer">
		<tbody>
		{{#each detalleAcompanamientos}}
			{{#if $eq titulo 'Presencia de áreas con especies forestales nativos'}}
				<td colspan="10"><div class="acom-indicador">INDICADORES PARA EL ENTORNO</div></td>
			{{/if}}
			{{#if $eq titulo 'Control de la erosión actual'}}
				<td colspan="10"><div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA DEL SUELO</div></td>
			{{/if}}
			{{#if $eq titulo 'Cantidad suficiente de agua para los cultivos, animales y poscosecha'}}
				<td colspan="10"><div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA DE AGUA Y HUMEDAD</div></td>
			{{/if}}
			{{#if $eq titulo 'Planificación de rotación de cultivos por lotes'}}
				<td colspan="10"><div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA DE CULTIVOS</div></td>
			{{/if}}
			{{#if $eq titulo 'Árboles y arbustos para mejorar y mantener la fertilidad del suelo'}}
				<td colspan="10"><div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA FORESTAL</div></td>
			{{/if}}
			{{#if $eq titulo 'Diversidad de especies de animales'}}
				<td colspan="10"><div class="acom-indicador">INDICADORES PARA EL SUBSISTEMA ANIMAL</div></td>
			{{/if}}
			{{#if $eq titulo 'Buenas condiciones de las instalaciones'}}
				<td colspan="10"><div class="acom-indicador">INDICADORES PARA INSTALACIONES, ANGARES Y BODEGAS</div></td>
			{{/if}}
			<tr>
				<td>{{titulo}}</td>
				{{#each data}}
					<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
		</tbody>
	</table>

	<div id="reporteAcompanamiento" class="ficha-spider"></div>
</template>