<template name="detailAcompanamiento">
	<h4>Detalles de Ficha de Diagnóstico de Acompañamiento</h4>
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>Provincia</td>
				<td>{{dataAcompanamiento.acomProvincia}}</td>
			</tr>
			<tr>
				<td>Cantón</td>
				<td>{{dataAcompanamiento.acomCanton}}</td>
			</tr>
			<tr>
				<td>Parroquia</td>
				<td>{{dataAcompanamiento.acomParroquia}}</td>
			</tr>
			<tr>
				<td>Sector o comunidad</td>
				<td>{{dataAcompanamiento.acomSectores}}</td>
			</tr>
		</tbody>
	</table>
</template>