<template name="insertAcompanamiento">
	<h4>Nueva Ficha de Diagnóstico y Acompañamiento</h4>
	{{#autoForm collection="Acompanamientos" id="insertAcompanamientoForm" type="insert"}}
		{{> afQuickField name='acomProvincia' id='acomProvincia'}}
		{{> afQuickField name='acomCanton' id='acomCanton'}}
		{{> afQuickField name='acomParroquia' id='acomParroquia'}}
		{{> afQuickField name='acomSectores'}}
		{{> afQuickField name='acomResponsableProduccion'}}
		{{> afQuickField name='acomNombreFinca'}}
		{{> afQuickField name='acomCorreo'}}
		{{> afQuickField name='acomTelefono'}}
		{{> _indicadoresFichaTabla}}
		<button type="submit" class="btn btn-primary">GUARDAR</button>
	{{/autoForm}}
</template>