<template name="listAcompanamientos">
	<h4>Fichas de Diagnóstico y Acompañamiento</h4>
	{{#if isEmptyAcompanamientos}}
		<div class="no-data">
			<h5>No existen datos que mostrar, cree una </h5>
			<a class="btn btn-default" href="{{pathFor 'insertAcompanamiento'}}"><icon class="fi-page-add"></icon> Nueva ficha de Acompañaiento</a>
		</div>
	{{else}}
		<a class="btn btn-primary" title="Nueva ficha de Acompañaiento" href="{{pathFor 'insertAcompanamiento'}}">
			<icon class="fi-page-add fi-size-18"></icon>
		</a>
		<button class="btn btn-default compare" title="Comparar fichas seleccionadas">
			<icon class="fa fa-files-o fa-size-17"></icon>
		</button>
		<button class="btn btn-default export" title="Exportar a Excel">
			<icon class="fa fa-file-excel-o"></icon>
		</button>
		{{> reactiveTable settings=settings}}
	{{/if}}
</template>