<template name="detailProductor">
	<h4>Detalles de Ficha del Productor</h4>

	<button class="btn btn-primary print bottom-buffer" title="Imprimir ficha">
		<icon class="glyphicon glyphicon-print"></icon>
	</button>

	{{#with detailProductor}}
	<table class="table table-striped top-buffer">
		<tbody>
			<tr>
				<td class="col-sm-4">Fecha de creación</td>
				<td class="col-sm-8">{{createdAt}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Responsable de la producción</td>
				<td class="col-sm-8">{{prdResponsableProduccion}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Nombre de la finca</td>
				<td class="col-sm-8">{{prdNombreFinca}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Correo electrónico</td>
				<td class="col-sm-8">{{prdCorreoElectronico}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Teléfono fijo</td>
				<td class="col-sm-8">{{prdTelefonoFijo}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Sector o comunidad</td>
				<td class="col-sm-8">{{prdSectorComunidad}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Provincia</td>
				<td class="col-sm-8">{{prdProvincia}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Cantón</td>
				<td class="col-sm-8">{{prdCanton}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Parroquia</td>
				<td class="col-sm-8">{{prdParroquia}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Coordenadas geográficas</td>
				<td class="col-sm-8">{{prdCoordenadas}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Costo de un jornal en la zona (USD)</td>
				<td class="col-sm-8">{{prdCostoJornalZona}}</td>
			</tr>
			<tr>
				<td class="col-sm-4">Duración del jornal en la zona (horas)</td>
				<td class="col-sm-8">{{prdDuracionJornalZona}}</td>
			</tr>
		</tbody>
	</table>

	<div class="grupo-indicador">REGISTRO DE ACTIVIDADES</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Actividad</th>
				<th>Horas familiares</th>
				<th>Jornales familiares</th>
				<th>Costo familiar</th>
				<th>Horas contratadas</th>
				<th>Jornales contratados</th>
				<th>Costo contratado</th>
				<th>Costo total</th>
			</tr>
		</thead>
		<tbody>
			{{#each registroDeActividades}}
			<tr>
				<td>{{formatTime fechaInicio}}</td>
				<td>{{actividad}}</td>
				<td>{{horasFamiliar}}</td>
				<td>{{jornalesFamiliares}}</td>
				<td>{{costoFamiliar}}</td>
				<td>{{horasContratada}}</td>
				<td>{{jornalesContratados}}</td>
				<td>{{costoContratada}}</td>
				<td>{{costoTotal}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="grupo-indicador">REGISTRO DE COMPRAS</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Costo Unitario</th>
				<th>Costo</th>
			</tr>
		</thead>
		<tbody>
			{{#each registroDeCompras}}
			<tr>
				<td>{{formatTime fecha}}</td>
				<td>{{producto}}</td>
				<td>{{cantidad}}</td>
				<td>{{costoUnitario}}</td>
				<td>{{costo}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="grupo-indicador">REGISTRO DE COSECHAS Y VENTAS</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Producto</th>
				<th>Unidad</th>
				<th>Cantidad total</th>
				<th>Cantidad vendida</th>
				<th>Autoconsumo</th>
				<th>Intercambio</th>
				<th>Otros usos</th>
			</tr>
		</thead>
		<tbody>
			{{#each registroDeCosechasY_Ventas}}
			<tr>
				<td>{{formatTime fecha}}</td>
				<td>{{producto}}</td>
				<td>{{unidad}}</td>
				<td>{{cantidadTotal}}</td>
				<td>{{cantidadVendida}}</td>
				<td>{{autoconsumo}}</td>
				<td>{{intercambio}}</td>
				<td>{{otrosUsos}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{/with}}
</template>