<template name="_indicadoresFichaTabla">
	{{#each indicadoresFichaTabla}}
		{{> _fichaAcompanamientoIndicadores}}
		<table class="table table-bordered organizacion-td">
			<thead class="organizacion-titulo-indicador">
			<tr>
				<td colspan="3">
					<label class="control-label">{{titulo}}</label>
				</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="col-md-10 organizacion-td-indicador">{{criterios.[0]}}</td>
				<td class="col-md-1 organizacion-text-align-center">1</td>
				<td class="organizacion-vertical-align-middle" rowspan="3">{{> afQuickField name=campo label=false}}</td>
			</tr>
			<tr>
				<td class="col-md-10 organizacion-td-indicador">{{criterios.[1]}}</td>
				<td class="col-md-1 organizacion-text-align-center">5</td>
			</tr>
			<tr>
				<td class="col-md-10 organizacion-td-indicador">{{criterios.[2]}}</td>
				<td class="col-md-1 organizacion-text-align-center">10</td>
			</tr>
			</tbody>
		</table>
	{{/each}}
</template>