<template name="insertVeeduria">
	<h4>Nueva Ficha de Información de Veeduría</h4>
	<div class="grupo-indicador">IDENTIFICACIÓN DEL PRODUCTOR</div>
	{{#autoForm collection="Veedurias" id="insertVeeduriaForm" type="insert"}}
		{{#each afFieldNames}}
			{{#if $eq this.name 'ubicProvincia'}}<div class="grupo-indicador">UBICACIÓN</div>{{/if}}
			{{#if $eq this.name 'entoPresenciaForestalesNativos'}}<div class="grupo-indicador">EL ENTORNO</div>{{/if}}
			{{#if $eq this.name 'sueloControlErosionActualEvidente'}}<div class="grupo-indicador">EL SUBSISTEMA SUELO</div>{{/if}}
			{{#if $eq this.name 'aguaBuenaCalidad'}}<div class="grupo-indicador">EL SUBSISTEMA AGUA Y HUMEDAD</div>{{/if}}
			{{#if $eq this.name 'cultivosPlanificacionRotacion'}}<div class="grupo-indicador">EL SUBSISTEMA CULTIVOS</div>{{/if}}
			{{#if $eq this.name 'agroforestalFertilidadSuelo'}}<div class="grupo-indicador">EL SUSBSISTEMA  AGROFORESTAL</div>{{/if}}
			{{#if $eq this.name 'animalInfraestructuraAdecuada'}}<div class="grupo-indicador">EL SUSBSISTEMA ANIMAL</div>{{/if}}
			{{#if $eq this.name 'cosechaMaterialesAdecuados'}}<div class="grupo-indicador">COSECHA, POSTCOSECHA Y COMERCIALIZACIÓN</div>{{/if}}
			{{#if $eq this.name 'socialBienestar'}}<div class="grupo-indicador">JUSTICIA SOCIAL Y DOCUMENTOS</div>{{/if}}
			{{> afQuickField name=this.name}}
		{{/each}}
		<div class="form-group">
			<button type="submit" class="btn btn-primary">GUARDAR</button>
		</div>
	{{/autoForm}}
</template>