<template name="detailOrganizacion">
	<h4>Detalles de Ficha de Diagnóstico de Organización</h4>

	<button class="btn btn-primary print"><icon class="fa fa-file-pdf-o"></icon> Imprimir</button>

	<table class="table table-striped top-buffer">
		<tbody>
		{{#each detalleOrganizaciones}}
			{{#if $eq titulo 'Conocimientos de los principios generales de la agroecología'}}
				<td colspan="10"><div class="acom-indicador">INDICADORES DE LA ORGANIZACIÓN</div></td>
			{{/if}}
			<tr>
				<td>{{titulo}}</td>
				{{#each data}}
				<td>{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
		</tbody>
	</table>

	<div id="reporteOrganizacion" class="ficha-spider"></div>
</template>