<template name='insertOrganizacion'>
	<h4>Nueva Ficha de Organización</h4>
	{{#autoForm collection='Organizaciones' id='insertOrganizacionForm' type='insert'}}
		{{> afQuickField name='provincia' id='provincia'}}
		{{> afQuickField name='canton' id='canton'}}
		{{> afQuickField name='parroquia' id='parroquia'}}
		{{> afQuickField name='sectores'}}
		{{> afQuickField name='nombreGrupo'}}
		{{> afQuickField name='representante'}}
		{{> afQuickField name='correo'}}
		{{> afQuickField name='telefonoFijo'}}
		{{> afQuickField name='telefonoCelular'}}
		{{> afQuickField name='personeriaJuridica'}}
		{{> afQuickField name='tiempoVidaGrupo'}}
		{{> afQuickField name='numeroMiembros'}}
		{{> afQuickField name='diaPreferidoReuniones'}}
		{{> _indicadoresFichaTabla}}
		<button type='submit' class='btn btn-primary'>GUARDAR</button>
	{{/autoForm}}
</template>