<template name="listOrganizaciones">
	<h4>Fichas de Diagnóstico de Organización</h4>
	{{#if isEmptyOrganizaciones}}
		<a class="btn btn-default" href="{{pathFor 'insertOrganizacion'}}"><icon class="fa fa-file"></icon> Nueva ficha de Organización</a>
		<h5 class="no-data">No existen datos que mostrar, cree una nueva ficha de diagnóstico de organización</h5>
	{{else}}
		<button class="btn btn-primary export"><icon class="fa fa-file-excel-o"></icon> Exportar a Excel</button>
		<a class="btn btn-default" href="{{pathFor 'insertOrganizacion'}}"><icon class="fa fa-file"></icon> Nueva ficha de Organización</a>
		{{> reactiveTable settings=settings}}
	{{/if}}
</template>