.organizacion-td > tbody > tr > td {
	padding-top: 6px;
	padding-bottom: 6px;
}

.organizacion-td-indicador {
	padding-left: 17px !important;
}

.organizacion-titulo-indicador {
	background-color: #f9f9f9;
}

.organizacion-text-align-center {
	text-align: center;
}

.organizacion-vertical-align-middle {
	vertical-align: middle !important;
}

.organizacion-vertical-align-middle > div > input {
	margin-top: 16px !important;
}

.organizacion-detail-table {
	width: 750px !important;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #537769;
	color: #FFF;
	cursor: pointer;
}

.comparar {
	width: 85px !important;
	padding-top: 0 !important;
	padding-right: 0 !important;
}

.comparar > label {
	padding: 8px 26px;
	margin-bottom: 0 !important;
	cursor: pointer;
}

.comparar > label > input[type=checkbox] {
	cursor: pointer;
}

.createdAt {
	min-width: 90px !important;
}

.provincia {
	min-width: 100px !important;
}

.nombreGrupo {
	min-width: 140px !important;
}